<div class="relative">
  <div class="overflow-hidden" (scrollend)="scroll$.set($event)">
    <div
      tabindex="-1"
      class="flex gap-2 [&>*]:w-5/6"
      [appContentChanges]="elements$"
      (click)="click$.set($event)">
      <ng-content></ng-content>
    </div>
  </div>
  <div
    *ngIf="elementInView$() as elementInView"
    class="absolute bottom-0 left-0 right-0 flex justify-center space-x-2 mb-4">
    <button
      *ngFor="let element of elements$()"
      class="w-4 h-4 rounded-md bg-primary-400 hover:bg-primary-100"
      [ngClass]="{
        'bg-primary-100': element === elementInView,
        'bg-primary-400': element !== elementInView
      }"
      (click)="scrollTo(element)">
      &nbsp;
    </button>
  </div>
</div>
