<nav class="flex gap-4 items-center pt-3 px-3 bg-blend-difference">
    <a routerLink="/" class="grow">
        <img class="h-8 object-contain object-left" src="assets/drone-biotech-logo-horizontal.svg" alt="logo" />
    </a>
    <app-dropdown>
        <button class="text-white" control>
            <fa-icon [icon]="['fas', 'language']" size="lg"></fa-icon>
        </button>
        <button ghost class="flex items-center gap-2" (click)="changeLanguage('hu')">
            <span class="fi fi-hu"></span>
            {{ 'HUNGARIAN' | transloco }}
        </button>
        <button ghost class="flex items-center gap-2" (click)="changeLanguage('en')">
            <span class="fi fi-us"></span>
            {{ 'ENGLISH' | transloco }}
        </button>
    </app-dropdown>
    
    <a *ngFor="let link of links" [routerLink]="link.path" class="border-b-2 border-b-transparent text-white hover:border-b-white transition-colors duration-200"> {{ link.label | transloco }} </a>
</nav>