.name-btn {
  display: inline-block;
  box-sizing: border-box;
  min-width: 100px;
  padding: 22px 33px;
  font-family: 'Lobster', cursive;
  font-size: 26px;
  line-height: 26px;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  background: #5e0d0c;
  outline: none;
  border-radius: 15px;
  border: 1px solid #4c0300;
  box-shadow:
    inset 1px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0 0 6px #a23227,
    inset 0 80px 80px -40px #ac3223,
    1px 1px 3px rgba(0, 0, 0, 0.75);

  position: relative;
  overflow: visible; /* IE9 & 10 */
  transition: 500ms linear;
}

.name-btn:hover {
  background: #a61715;
  text-shadow:
    0 1px 2px rgba(0, 0, 0, 0.75),
    0 0 40px #fff;
  box-shadow:
    inset 1px 1px 0px rgba(255, 255, 255, 0.25),
    /* highlight */ inset 0 0 6px #da3b2c,
    /* inner glow */ inset 0 80px 80px -40px #dd4330,
    /* gradient */ 1px 1px 3px rgba(0, 0, 0, 0.75); /* shadow */
}
.name-btn:focus {
  outline: none; /*FF*/
}
.name-btn:active {
  box-shadow:
    inset 1px 1px 0px rgba(255, 255, 255, 0.25),
    /* highlight */ inset 0 0 6px #da3b2c,
    /* inner glow */ inset 0 80px 80px -40px #dd4330,
    /* gradient */ 0px 1px 0px rgba(255, 255, 255, 0.25); /* shadow */
  transition: 50ms linear;
}
.name-btn:disabled {
  background: #686262;
  text-shadow:
    0 1px 2px rgba(0, 0, 0, 0.75),
    0 0 40px #fff;
  box-shadow:
    inset 1px 1px 0px rgba(255, 255, 255, 0.25),
    /* highlight */ inset 0 0 6px #686262,
    /* inner glow */ inset 0 80px 80px -40px #686262,
    /* gradient */ 1px 1px 3px rgba(0, 0, 0, 0.75); /* shadow */
  cursor: not-allowed;
}
